/* this is for media queries */

/*
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   768-480     - tablet 
   480-less    - phone landscape & smaller
*/

/* phone */

@media all and (max-width: 600px) {
  /* hiding the nav links  */
  header .nav-container-desktop {
    display: none;
  }
  /* showing the hamburger menu */
  header .nav-container-mobile,
  .hamburger-menu,
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    display: block;
    display: inline-block;
    z-index: 10;
  }
  /* --------------left------------- */
  /* .profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-welcome-text{
    padding-bottom: 10rem;
  }
  .profile-img{
  } */
  /* -----------------left--------------- */
  .arrow-moving-container {
    left: 5%;
  }
  .arrow-down {
    width: 50px;
  }
}
@media all and (max-width: 400px) {
  .profile-container {
    width: 100%;
    height: 100vh;
  }
  .profile-img {
    border-radius: 50%;
    width: 400px;
    bottom: 2rem;
    right: 0;
    /* height: 400px; */
  }
  .profile-welcome-text {
    /* display: inline; */
    margin-top: 3rem;
    /* left: 30px; */
    top: 20px;
    margin: 0;
  }
  .welcome {
    font-size: 40px;
    justify-content: center;
    margin-bottom: 0;
  }
  .iam {
    font-size: 30px;
  }
  .arwa {
    font-size: 40px;
    margin-bottom: 0;
    padding: 0;
  }
  #typewriter {
    font-size: 30px;
    margin-top: 0;
    padding-left: 4px;
    top: 0;
  }
  .A {
    font-size: 30px;
    font-weight: 300;
  }
  #cursor {
    font-size: 40px;
  }
  .arrow-moving-container {
    left: 5%;
  }
  .arrow-down {
    width: 60px;
  }
}
@media all and (min-width: 400px) {
  .profile-container {
    width: 100%;
    height: 100vh;
  }
  .profile-img {
    border-radius: 50%;
    width: 400px;
    bottom: 2rem;
    right: 0;
    /* height: 400px; */
  }
  .profile-welcome-text {
    /* display: inline; */
    margin-top: 3rem;
    /* left: 30px; */
    top: 20px;
    margin: 0;
  }
  .welcome {
    font-size: 40px;
    justify-content: center;
    margin-bottom: 0;
  }
  .iam {
    font-size: 30px;
  }
  .arwa {
    font-size: 40px;
    margin-bottom: 0;
    padding: 0;
  }
  #typewriter {
    font-size: 30px;
    margin-top: 0;
    padding-left: 4px;
    top: 0;
  }
  .A {
    font-size: 30px;
    font-weight: 300;
  }
  #cursor {
    font-size: 40px;
  }
  .arrow-moving-container {
    left: 5%;
  }
  .arrow-down {
    width: 60px;
  }
  #about .h2-about{
    font-size: 30px;
  }
  #about .p-about{
    font-size: 15px;
  }
}

/* sm screens */
@media all and (min-width: 640px) {
  #about .h2-about{
    font-size: 30px;
  }
  #about .p-about{
    /* font-size: 30px */
  }
  .profile-container {
    width: 100%;
    height: 100vh;
  }
  .profile-img {
    width: 400px;
  }
  .profile-welcome-text {
    display: inline;
    margin-top: 2rem;
    /* left: 30px; */
    margin-left: rem;
  }
  .welcome {
    font-size: 60px;
    justify-content: center;
  }
  .iam {
    font-size: 40px;
  }
  .arwa {
    font-size: 50px;
  }
  #typewriter {
    font-size: 50px;
  }
  .A {
    font-size: 50px;
    font-weight: 300;
  }
  #cursor {
    font-size: 55px;
  }
  .arrow-moving-container {
    left: 5%;
  }
  .arrow-down {
    width: 80px;
  }
}
/* md screens */
@media all and (min-width: 768px) {
  .profile-container {
    width: 100%;
    height: 100vh;
  }
  .profile-img {
    width: 400px;
  }
  .profile-welcome-text {
    display: inline;
    margin-top: 1rem;
    left: 0;
    margin-left: 0;
  }
  .welcome {
    font-size: 50px;
    justify-content: center;
    margin-bottom: 0;
  }
  .iam {
    font-size: 40px;
  }
  .arwa {
    font-size: 45px;
  }
  #typewriter {
    font-size: 45px;
  }
  .A {
    font-size: 40px;
    font-weight: 300;
  }
  #cursor {
    font-size: 45px;
  }
  .arrow-moving-container {
    left: 10%;
  }
  .arrow-down {
    width: 80px;
  }
}
/* lg screens */
@media all and (min-width: 1024px) {
  .profile-container {
    width: 100%;
    height: 100vh;
  }
  .profile-img {
    width: 500px;
  }
  .profile-welcome-text {
    margin-top: ;
    /* left: 30px; */
    margin-left: rem;
  }
  .welcome {
    font-size: 50px;
    justify-content: center;
  }
  .iam {
    font-size: 30px;
  }
  .arwa {
    font-size: 50px;
  }
  #typewriter {
    font-size: 50px;
  }
  .A {
    font-size: 50px;
    font-weight: 300;
  }
  #cursor {
    font-size: 55px;
  }
  .arrow-moving-container {
    left: 30%;
  }
  .arrow-down {
    width: 80px;
  }
}
/* xl screens */
@media all and (min-width: 1280px) {
  .profile-container {
    width: 100%;
  }
  .profile-img {
    width: 700px;
  }
  .profile-welcome-text {
    margin-top: 8rem;
    /* left: 30px; */
    margin-left: 10rem;
  }
  .welcome {
    font-size: 66px;
    justify-content: center;
  }
  .iam {
    font-size: 30px;
    font-weight: 300;
  }
  .arwa {
    font-size: 50px;
  }
  #typewriter {
    font-size: 50px;
  }
  .A {
    font-size: 40px;
    font-weight: 300;
  }
  #cursor {
    font-size: 55px;
  }
  .arrow-moving-container {
    left: 30%;
  }
  .arrow-down {
    width: 60px;
  }
}

/* -----------------LEFT--------------- */
/*
@media all and (max-width: 530px){
  .profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-welcome-text{
    padding-bottom: 10rem;
  }
  .profile-img{
    margin: auto 2rem;
  }
}

@media all and (max-width: 1000px){
  .profile-container{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
  }
  .profile-welcome-text{
    margin-bottom: 9rem;
    margin-left: 4rem;
  }
  .profile-welcome-text :nth-child(1){    
    font-size: 8rem;
  transition: all .3s ease-in-out

  }
  .profile-welcome-text :nth-child(2){    
    font-size: 5rem;
  transition: all .3s ease-in-out

  }
  .profile-welcome-text :nth-child(3){    
    font-size: 4rem;
  transition: all .3s ease-in-out
  }
  .profile-img{
  position: absolute;
  right: 2rem;

  /* left: 5rem; 
  width: 80%; 
  transition: all .3s ease-in-out;
  }

}
@media all and (max-width: 800px){
  .profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-welcome-text{
    padding-bottom: 15rem;
    margin-left: 0rem;
  }
  .profile-welcome-text :nth-child(1){    
    font-size: 6rem;
  transition: all .3s ease-in-out

  }
  .profile-welcome-text :nth-child(2){    
    font-size: 2rem;
  transition: all .3s ease-in-out

  }
  .profile-welcome-text :nth-child(3){    
    font-size: 4rem;
  transition: all .3s ease-in-out
  }
  .profile-img{
  right: 6rem;
  width: 70%;
  transition: all .3s ease-in-out;
}
}
@media all and (min-width: 1742px){
 .profile-img{
  /* position: absolute; 
  right: 0rem;
  /* left: 5rem; 
  width: 50%;
  transition: all .3s ease-in-out;
  }
}

@media all and (min-width: 1805px){
.profile-img{
  right: 0rem;
  width: 50%;
  transition: all .3s ease-in-out;
  }
}
@media all and (min-width: 1140px){
.profile-img{
  right: 0rem;
  width: 55%;
  transition: all .3s ease-in-out;
  }
}
@media all and (max-width: 1050px){
.profile-img{
  right: 0rem;
  width: 60%;
  transition: all .3s ease-in-out;
  }
}
@media all and (max-width: 686px){
.profile-img{
  right: 5rem;
  width: 70%;
  transition: all .3s ease-in-out;
  }
}
@media all and (max-width: 1400px){
.profile-img{
  /* right: 5rem;
  
  width: 70%;
  transition: all .3s ease-in-out;
  }
}

*/

/* -----------------LEFT--------------- */
@media all and (max-width: 600px) {
  .about-container-middle-wrapper {
    width: 100%;
    height: inherit;
  }
  .about-details-upper {
    /* position: fixed; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: baseline;
    align-items: center;
    /* flex-direction: column; */
  }
  .about-container {
    margin: 2rem;
  }
  .upper-left {
    margin-right: 0;
    padding-right: 0;
    line-gap-override: 0;
    row-gap: 0;
  }
  .about-img-container {
    width: 250px;
    margin-top: 8rem;
    overflow: auto;
  }
  .about-details-lower {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: baseline;
    align-items: center;
    /* flex-direction: column; */
  }
}
