/* google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* general styling */
* {
  margin: 0;
  padding: 0;
}
/* setting up the border box sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* html scroll behavior */
html {
  scroll-behavior: smooth;
}

/* body text font family */
body {
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
}

/* setting all list type bullet elements to none */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  /* text-decoration-color: white; */
  transition: all 0.3 ease-in-out;
  display: block;
}
/* the top progress bar */
.progress-bar-onscroll {
  --progress: 0;
  background: #333;
  width: var(--progress);
  height: 0.2rem;
  position: fixed;
  z-index: 10;
}

/* default media query is desktop 1280-1024 */

/* Hero Section */
.hero-container {
  position: relative;
}

/* logo & nav links */
header {
  display: flex;
  /* background: transparent; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 10vh;
  top: 0;
  border-radius: 200px;
}

header .nav-container-desktop {
  display: flex;
  background-position: 100%;
  text-align: right;
  gap: 2rem;
}

.logo-text {
  cursor: default;
}
.logo-container {
  font-weight: 600;
}
/* hamburger menu work:  */

/* hiding the hamburger menu in the desktop screens */
header .nav-container-mobile {
  display: none;
  display: flex;
  margin-right: 0;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 5rem;
  background-color: #f78888;
}

/* creating variables for our hamburger menu styling */
:root {
  --bar-width: 2rem;
  --bar-height: 0.2rem;
  --bar-radius: 0.5rem;
  --hamburger-gap: 0.4rem;
  --ground-color: #333;
  --background: transparent;
  --checking-transition: 300ms ease-in-out;
  /* for the calculus its a triginomatry used to calculate the height of the before and after element so they fit correctly 3 is the number of bars we have and 2 the number of the bars we want to move */
  --ham-height: calc(var(var--bar-height) * 3 + var(--ham-gap) * 2);
}
/* setting the style for the hamburger menu */
header .hamburger-menu {
  top: 0;
  padding-bottom: 1rem;
  display: flex;
  /* margin-right: 20px; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  /* top: 9vh; */
  z-index: 2;
  cursor: pointer;
  right: 0.02rem;
  /* the width of the hamburger menu in the X shape*/
  --x-width: calc(var(var(--ham-height)) * 1.41421356237);
}
/* transitioning the hamburger animation */
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  background-color: var(--ground-color);
  border-radius: var(--bar-radius);
  transform-origin: right center;
  transition: opacity var(--checking-transition),
    width var(--checking-transition), rotate var(--checking-transition),
    translate var(--checking-transition),
    background-color var(--checking-transition);
  transition: all 0.2s ease-in-out;
  /* display: inline; */
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: #333;
}
.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
  /* padding: .2rem; */
  transition: all 0.2s ease-in-out;
}
.hamburger-menu:hover {
  transition: all 0.2s ease-in-out;
  padding: 0.2rem;
  border-radius: 2rem;
  /* background: ; */
}
/* to change the shape of the hamburger menu to an X whn clicking */
/* if the hamburger menu input elemnet is checked then select the before hamburger menu*/
.hamburger-menu:has(input:checked)::before {
  rotate: -45deg;
  /* width: var(--x-width); */
  translate: 0 calc(var(--bar-height) / -2);
  transition: all 0.2s ease-in-out;
}
.hamburger-menu:has(input:checked)::after {
  rotate: 45deg;
  /* width: var(--x-width); */
  translate: 0 calc(var(--bar-height) / 2);
  transition: all 0.2s ease-in-out;
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}
.hamburger-menu__side-bar {
  transition: translate var(--checking-transition);
  max-width: 10rem;
  margin-right: 0;
  background: transparent;
  display: block;
  position: absolute;
  padding-top: calc(var(--ham-height)+ var(--ham-gap) + 0.1rem);
  padding-top: 2rem;
  background-color: #f6a3a300;
  transition: opacity 0.3 ease-in-out;
  transition: text 2 ease-in;
}
.hamburger-menu__side-bar.show {
  opacity: 1;
}
.hamburger-menu__side-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
  gap: 1rem;
}

/* profile container */
.profile-container {
  width: 100vh;
  height: 100vh;
}

/* hiding the hamburger menu from the desktop */
header .nav-container-mobile,
.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  display: none;
  /* background-color: red; */
}

/* designing the buttons */
.btn {
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
  z-index: 20;
}
.btn:hover {
  text-decoration: underline;
  color: #333;
  text-decoration-color: #777777;
  text-underline-offset: 0.5rem;
  background: #f78888;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  transition: 300ms ease-out;
  padding: 0.2rem;
  cursor: pointer;
  /* z-index: 100; */
}
.logo-container {
  cursor: default;
}

.hamburger-menu:has(input:checked) + .hamburger-menu__side-bar {
  translate: 0;
}

/* landing page: profile  */
/* .hero-container {
  background: transparent;
  z-index: -1;
} */
header {
  margin-bottom: 0;
  height: 3rem;
}

.profile-container {
  background: #d2d0d0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  width: 100%;
  position: relative;
  display: flex;
  /* margin-left: ; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */

  /* background-image: url(./assets/image-3000x3141\ \(1\).jpg); */
}
.profile-img {
  /* object-fit: ; */
  overflow: hidden;
  position: absolute;
  /* margin-left: ; */
  /* height: 230px; */
  /* object-fit: cover; */
  /* width: 50%; */
  bottom: 0;
  right: 0;
  /* left:20rem; */
  /* top: rem; */
  border-radius: 2rem;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  width: 900px;
}
.profile-container {
  background-color: #ececec;
}
/* landing page text! */
.profile-welcome-text {
  color: #333;
  z-index: 2;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  margin-left: 4rem;
  /* margin-top: 20rem; */
  transition: all 0.3s ease-in-out;
  /* font-size: x-large; */
  cursor: default;
  align-items: baseline;
  margin-bottom: 20rem;
}
.welcome {
  font-size: 100px;
  font-weight: 600;
  margin-bottom: 5rem;
  /* -webkit-text-stroke: 1px black;
   color: white; */
  /* text-shadow: 2rem -1#333; */
  animation: moveUp 1s linear infinite;
}
.iam {
  font-weight: 300;
}
.arwa {
  margin-left: 2rem;
  font-size: 70px;
  font-weight: 500;
  text-shadow: 4px 4px 0 #f78888,
    /* -1px -1px 0 #e98686,   */ /* 1px -1px 0 #e98686, */
      /* -1px 1px 0 #e98686, */ 1px 1px 0 #f78888;
}
#typewriter {
  font-size: 66px;
  font-family: "Courier New", Courier, monospace;
  color: #f78888;
}
.A {
  font-size: 50px;
  font-weight: 300;
}
#cursor {
  font-size: 66px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  30% {
    opacity: 0%;
  }
}

/* ---------------------- */
/*
 .profile-welcome-text :nth-child(1){
  font-size: 8rem;
  margin-bottom: 2rem;
  font-weight: 700;
  padding-right: 3rem;
  transition: all .3s ease-in-out

}
.profile-welcome-text :nth-child(2){
  font-size: 4rem;
  font-weight: 200;
  text-shadow: #777777;
  border-bottom: #333;
  z-index: 3;
  transition: all .3s ease-in-out

}
.profile-welcome-text :nth-child(3){
  font-size: 6rem;
  font-weight: 400;
  text-shadow: #777777;
  border-bottom: #333;
  z-index: 3;
  transition: all .3s ease-in-out

} */
/* -------------------- */

/* the arrow code */
.arrow-moving-container {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: fit-content;
  left: 50%;
  bottom: 40px;
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.arrow-down {
  border-radius: 50%;
  opacity: 30%;
  transition: all 0.2s ease-in-out;
}
.arrow-down:hover {
  transition: all 300ms ease-in-out;
  opacity: 100%;
  transition: all 0.3s ease-in-out;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* #ABOUT */

#about {
  position: relative;
  /* margin: 2rem; */
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    #F78888 0%,
    rgba(255, 255, 255, 1) 45%
  );
}
.about-container {
  /* margin: 2rem; */

  width: 100%;
  height: inherit;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.about-container-middle-wrapper {
    height: 100vh;
    margin-top: 3rem;
  /* width: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 2rem; */
}
/* upper  */
.about-details-upper {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  position: relative;
}
/* picture user */
.about-img-container{
  /* bottom: 0; */
  /* top: 2rem; */
  /* background-color: white; */
  
}
.about-img {
  background-color: rgba(255, 255, 255, 0.187);
  /* top: 2rem; */
  /* bottom: 0; */
  width: 100%;
  border: #777777 1px solid;
  border-radius: 3rem;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.upper-right {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.187);
  /* display: ; */
  flex: 1;
  transition: all 0.3s ease-in-out;
}
.upper-right p{
  font-size: large;
}
.upper-left {
  flex: 1;
  transition: all 0.3s ease-in-out;
  
  /* display: flex;
  justify-content: center
  al */

}
.h2-about {
  font-weight: 500;
  font-size: 40px;
  /* font-family:'Courier New', Courier, monospace; */
}
.p-about {
  font-weight: 200;
}

/* lower */
.about-details-lower {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  /* gap: 2rem; */
  position: relative;
}
.lower-left {
  background-color: rgba(255, 255, 255, 0.187);
  flex: 1;
  transition: all 0.3s ease-in-out;
}
.lower-left .bs {
  font-weight: 300;
}
.lower-right {
  background-color: rgba(255, 255, 255, 0.187);
  flex: 1;
  transition: all 0.3s ease-in-out;
}
 
.card-about{
  /* width: fit-content; */
  border: #777777 0.2px solid;
  padding: 3px;
  align-items: center;
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transition: all .3s ease-in-out;
}
.about-img{
  transition: all .3s ease-in-out;
}
.card-about:hover , .about-img:hover {
  transition: all .3s ease-in-out;
  background-color: rgb(255, 255, 255);
   box-shadow: 4px 5px 6px #F78888;
}

.spacing-div {
  padding: 1rem;
}

.make-bold{
  font-weight: 300;
}
.space-under{
  padding-bottom: 2rem;
  margin-bottom: 20px;
}

/* Icons */
.icon{
  width: 40px;
  height: 40px;
}

.next-arrow {
  position: absolute;
  bottom: 0;
  z-index: 10;
  /* width: fit-content; */
  left: 2%;
  /* bottom: 40px; */
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.arrow-down {
  border-radius: 50%;
  opacity: 30%;
  transition: all 0.2s ease-in-out;
}
.arrow-down:hover {
  transition: all 300ms ease-in-out;
  opacity: 100%;
  transition: all 0.3s ease-in-out;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* skills section */
#skills{
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: white;
}

/* skills */

.technical-skills-container{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.technical-skills-text{
  font-size: 40px;
  font-size: 30px;
font-weight: 500;
letter-spacing: 6px;
margin: 2rem;
}
.skills-details-container{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-icon{
  width: 20px;
  position: relative;
  top: 5px;
}
.css-icon{
  width: 23px;
}
.skills-list{
  display: flex;
  /* flex-direction:column ; */
  /* width: fit-content; */
  gap: 1rem;
  justify-content: center;
  margin: 2rem;
  align-items: center;
}
.skills-list li {
  cursor: default;
 border: #777777 1px solid;
 border-radius: 1.5rem;
 padding: 1rem;
 width: fit-content;
 height: 100px;
 transition: all .3s ease-in-out;
}
.skills-list li:hover {
  background-color: #ececec27;
  transition: all .3s ease-in-out;
   box-shadow: 4px 5px 6px #F78888;
}
.skills-list li p{
  font-size: 10px;
  color: #777777;
  transition: all .3s ease-in-out;
}
.skills-list li:hover p{
  transition: all .3s ease-in-out;
  font-size: 10px;
  color: #ECECEC;
}
.skills-type-text{
  font-size: 30px;
}

.skills-type-header-container{
  display: flex;
  justify-content: center;
  padding-bottom: .4rem;
}
.skills-details-upper-container{
  border: #ECECEC 1px solid;
  border-radius: 3rem;
  width: fit-content;
  /* left: 5rem; */
}
.skills-details-upper-container{
  margin: 2rem auto;
}
.skills-details-lower-container{
 border: #ECECEC 1px solid;
  border-radius: 3rem;
  /* left: 5rem; */
  width: fit-content;
}